<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<link th:rel="stylesheet" th:href="@{/css/styles.css}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<div class="topnav">
    <a class="active" href="http://localhost:8080/">Home</a>
    <div sec:authorize="hasAnyAuthority('ADMIN')">
        <a th:href="@{/employees/viewPage}">Employees</a>
    </div>
    <!--admin if-->
    <div class="topnav-right">
        <a th:href="@{/logout}"> Logout </a>
    </div>
</div>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/customers/addCustomer}" th:object="${customer}" method="post">
                    <h3> Add Customer</h3>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="customerName" class="col-form-label">First Name</label> <input type="text" th:field="*{customerName}" class="form-control" id="customerName" placeholder="Name"> <span th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="surname" class="col-form-label">Last Name</label> <input type="text" th:field="*{surname}" class="form-control" id="surname" placeholder="Surname"> <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="oib" class="col-form-label">OIB</label> <input minlength="11" maxlength="11" type="text" th:field="*{oib}" class="form-control" id="oib" placeholder="Oib"> <span th:if="${#fields.hasErrors('oib')}" th:errors="*{oib}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="address" class="col-form-label">Address</label> <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="address"> <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="telephone" class="col-form-label">Telephone</label> <input type="text" th:field="*{telephone}" class="form-control" id="telephone" placeholder="telephone"> <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="city" class="col-form-label">City</label> <input type="text" th:field="*{city}" class="form-control" id="city" placeholder="city"> <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-purple btn-sm" style="background-color:#4f4397;color:white" value="Add Customer">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>